#headerCardText{
    font-size: 12px
}
#parentContainer{
    margin-bottom: 10px;
    /* width: 24% !important; */
}
#mainContainer{
    margin: 5px 20px 5px 20px;
    /* width: 100%; */
}
.img-fluid{
    /* height: 50%; */
    /* width: 50%; */
    position: center;
}
#stickerRow{
    margin: 0px;
    background-color: grey;
    border: goldenrod outset;
}
#buttonToViewOnBitSkins{
    height: 10%;
    width: 90%;
    text-align: left;
    text-anchor: initial;
    /* float: right; */
}
#detailedInfoForSkin{
    padding: 20px !important;
}
#fancyFloatText{
    background-color: black;
    border: goldenrod outset;
}
#headerCardText{
    font-size: 16px;
    color: whitesmoke;
}